<h1>申請一覧</h1>
<ul>
<table class="list_table">
  <tr>
    <th width="80">申請区分</th>
    <th width="80">申請日</th>
    <th width="200">目的</th>
    <th width="80">予定金額</th>
  </tr>
<%- for expense_application in @expense_applications -%>
<% next if expense_application.expense_app_type == 'temporary_app' %>
  <tr>
    <td align="center"><%= link_to expense_application.expense_app_type_long_name, "#", :onclick => "set_expense_application('#{expense_application.id}', '#{expense_application.expense_app_type_name}', '#{expense_application.plan_buy_date != nil ? expense_application.plan_buy_date.to_date : ""}', '#{expense_application.book_no}', '#{expense_application.account_item}', '#{expense_application.purpose}', '#{expense_application.approximate_amount.to_i}', '#{params[:mode].to_s}expense_detail#{params[:id].to_s}');return false;" %></td>
    <td align="center"><%=h expense_application.application_date.to_date %></td>
    <td align="center"><%=h expense_application.purpose %></td>
    <td align="center"><%=h expense_application.approximate_amount.to_i %></td>
  </tr>
<%- end -%>
</table>
</ul>
