<table class="show_table">
<%- for column in ApplicationApproval.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('application_approvals', column.name) %></th><td><%=h @application_approval.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @application_approval %> |
<%= link_to '一覧', :action => 'list' %>
