<table class="show_table">
<%- for column in PaymentPerMonth.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('payment_per_months', column.name) %></th><td><%=h @payment_per_month.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @payment_per_month %> |
<%= link_to '一覧', :action => 'list' %>
