<table class="show_table">
<%- for column in MonthlyWorking.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('monthly_workings', column.name) %></th><td><%=h @monthly_working.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @monthly_working %> |
<%= link_to '一覧', :action => 'list' %>
