<table class="show_table">
<%- for column in Type.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('types', column.name) %></th><td><%=h @type.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @type %> |
<%= link_to '一覧', :action => 'list' %>
