<% unless application.base_application.application_approvals.empty? %>
<% show_comment = application.base_application.application_approvals.detect{|x| !x.comment.blank?} %>

<br/>
<table class="list_table" style="margin-top: 0;">
<caption><b>承認状態</b></caption>
  <tr>
    <th align="center">承認者</th> 
    <th align="center">状態</th> 
    <% if show_comment %>
      <th align="center">コメント</th> 
    <% end %>
  </tr>
  <% for application_approval in application.base_application.application_approvals %>
    <% approver = application_approval.approver %>
    <tr> 
      <td><%=h approver.employee.employee_name %></td> 
    <% if application.base_application.payment_app? && application_approval.approval_status_type == 'entry' %>
      <td align="center" style="width: 12%;">提出</td>
          <% else %>
      <td align="center" style="width: 12%;"><%=h application_approval.approval_status_type_long_name %></td>
    <% end %>
    <% if show_comment %>
      <td>
      <% if application_approval.comment %>
        <%=simple_format h(application_approval.comment.content)%>
      <% end %>
      </td>
    <% end %>
  <% end %>
    </tr>
</table>
<br/>
<% end # unless application.base_application.application_approvals.empty? %>
