<table class="show_table">
<%- for column in SysConfig.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('configurations', column.name) %></th><td><%=h @configuration.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @configuration %> |
<%= link_to '一覧', :action => 'list' %>
