<h1>送信者一覧</h1>

<table class="show_table">
 <tr>
   <th><%= getLongName('business_partners', 'business_partner_name') %></th>
   <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
 </tr>
</table>