<h1>更新データのバージョンのずれが確認されました</h1>
<p>ただいま、更新しようとしたデータのバージョン番号が、他の処理によって更新されていたことが確認されました。</p>
<p>登録画面にて、エンターキーを連打したり、ボタンをダブルクリックすると発生することがあります。</p>
<p>この場合、データは既に登録されています。もう一度、元の画面に戻り、データの状態を確認してください。</p>
<p>上記の操作をした覚えがない場合、同じデータを別の人が編集していた可能性があります。もう一度、元の画面に戻り、データの状態を確認してください。</p>

