<table class="show_table">
<%- for column in WeeklyReport.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('weekly_reports', column.name) %></th><td><%=h @weekly_report.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @weekly_report %> |
<%= link_to '一覧', :action => 'list' %>
