<script type="text/javascript">
<!--
  var cal = new JKL.Calendar("calDisplay","","date_from");
  var cal2 = new JKL.Calendar("cal2Display","","date_to");
  var flgCal = true;
  var flgCal2 = true;
  
//-->
</script>


<table border='0' cellpadding='0' width="700" >
<tr>
  <td  align="right">期間：</td>
  <td style="width: 20%;" align="left">
    <input type="text" id="date_from" data-provide="typeahead"  name="date_from" size="15" value="<%= session[:date_from]?session[:date_from]:'' %>" onClick="cal.write();" onChange="cal.getFormValue(); cal.hide();" onblur="if (flgCal) {cal.hide();}">　～　
  </td>
  <td style="width: 20%;">
    <input type="text" id="date_to" data-provide="typeahead"  name="date_to" size="15" value="<%= session[:date_to]?session[:date_to]:'' %>" onClick="cal2.write();" onChange="cal2.getFormValue(); cal2.hide();" onblur="if (flgCal2) {cal2.hide();}">
  </td>
  <td style="width: 20%;">
  <%= submit_tag " 検 索 ", :onclick => "return validateDate($('date_from').val()) && validateDate($('date_to').val());" %>
  </td>
</tr>
<tr>
  <td> </td>
  <td>
    <div id="calDisplay" onmouseover="flgCal = false;" onmouseout="flgCal = true;"></div>
  </td>
  <td>
    <div id="cal2Display" onmouseover="flgCal2 = false;" onmouseout="flgCal2 = true;" ></div> 
  </td>
  <td> </td> 
</tr>
</table>

<p><input name="edit_type" type="hidden" value="<%= params[:edit_type] %>" /></p>

