/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
div#main_box {
  padding-top: 60px;
  padding-left: 10px;
}
div.search_form {
}
div.search_form table {
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}
div.search_form table td {
  padding-left: 4px;
}

table.list_table {
  font-size: 15px;
  margin-top: 2em;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 97%;
}
table.list_table td {
  border: #000000 1px solid;
}
table.list_table th {
  border: #000000 1px solid;
  background-color: #F0BB8C
}

table.result_table {
  margin-top: 5px;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 97%;
}
table.result_table td {
  border: #000000 1px solid;
}
table.result_table th {
  border: #000000 1px solid;
  background-color: #F0BB8C
}

table.show_table {
  margin-top: 2em;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 97%;
}
table.show_table td {
  border: #808080 1px solid;
}
table.show_table th {
  text-align: left;
  width: 25%;
  border: #808080 1px solid;
  background-color: #F0BB8C
}

table.input_table {
  margin-top: 2em;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 97%;
}
table.input_table td {
  border: #808080 1px solid;
  
}
table.input_table th {
  text-align: right;
  width: 25%;
  border: #808080 1px solid;
  background-color: #F0BB8C
}


