<table class="show_table">
<%- for column in DailyWorking.columns -%>
  <%- if system_column?(column.name) then next end -%>
<tr>
  <th><%= getLongName('daily_workings', column.name) %></th><td><%=h @daily_working.send(column.name) %></td>
</tr>
<% end %>
</table>
<%= link_to '編集', :action => 'edit', :id => @daily_working %> |
<%= link_to '一覧', :controller => 'monthly_working', :action => 'list_by_user' %>
